<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/bootstrap.5.0.2/bootstrap.min.css">
    <script defer src="/js/bootstrap.5.0.2/bootstrap.bundle.min.js"></script>

    <!--Local Files-->
    {{{customstyle}}}
    {{{customJs}}}
    

    <title>{{{title}}}</title>
</head>
<body>
    <!--Header-->

    <div class="container-fluid marg0 pad0 ">
        <div class="row header border_at_bottom marg0">
            <div class="col-3">
                <button class="arrow left" onclick="history.back()" id="back"></button>
            </div>
            <div class="col-6">
                <p class="Montserrat header_title">{{{headerTitle}}}</p>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
    
    {{{body}}}


</body>
</html>